/* Author = Taylor Noble */

html {
  background-color: rgb(255, 255, 255);
}
#icon-label {
  font-family: cursive;
  font-size: 24px;
  text-align: center;
  position: relative;
}
#icon-label::before {
  content: url(../imgs/pint.png);
}

.navbar {
  overflow: hidden;
  background-color: navy;
  width: 100%;
  position: fixed;
}
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: sans-serif;
}
.navbar a:hover {
  background: #ddd;
  color: black;
}
body {
  min-height: 400px;
  padding-bottom: 100px;
  clear: both;
  width: 100%;
  background-color: rgb(255, 255, 255);
  font-family: sans-serif;
}
h1 {
  font-family: sans-serif;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: navy;
}
.footer a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: sans-serif;
}
.footer a:hover {
  background: #ddd;
  color: black;
}