/* Author = Taylor Noble */

html {
  background-color: rgb(255, 255, 255);
}
#icon-label {
  font-family: cursive;
  font-size: 24px;
  text-align: center;
  position: relative;
}
#icon-label::before {
  content: url(../imgs/pint.png);
}

.icon-bar {
  background-color: white;
}
.navbar.navbar-light.bg-taylor-blue {
  background-color: navy;
  color: white;
}

.nav.navbar-nav li a {
  color:white;
}
.nav.navbar-nav.navbar-right li a{
  color:white;
}


.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 45px;
  background-color: #f5f5f5;
}

body {
  min-height: 400px;
  padding-bottom: 100px;
  clear: both;
  width: 100%;
  background-color: rgb(255, 255, 255);
  font-family: sans-serif;
}
h1 {
  font-family: sans-serif;
}